body{margin:0; padding: 0; box-sizing: border-box;}
ul{margin: 0; padding: 0;}
.nav-container{
    display: flex;
    background-image: linear-gradient(19deg, #11006e 0%, #B721FF 100%);
    color: rgb(255, 255, 255);
    flex-direction: row;
    align-items: center;
    position:fixed;
    left: 0;
    right: 0;
    min-height: 10vh;
}
.nav-item-1{margin-left: 10px; animation: 1s animationTOp ease forwards;}
.nav-item-1 > h1 {
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 25px;
}
.nav-item-2{ margin-right: 20px; animation: 1s animationTOp ease forwards;}
.nav-item-2 > ul> li {
    display: inline-block;
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 1s ease-in-out;
}
.nav-item-2{margin-left: auto;}
 li:hover {
   border-radius:5px;
    border : 1px solid white;
    box-shadow: 0px 2px 5px rgb(255, 255, 255);
    cursor: pointer;
}
.btn-container{ margin-right: 10px; margin-left: auto; display: none;}
.btn-container > button{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}

button:hover{box-shadow: 0px 2px 5px rgb(255, 206, 206);}
@media (max-width:900px) {
    .nav-item-2 {
        position: fixed;
        top: 6rem;
        left: 0px;
        right: 0;
        background-image: linear-gradient(19deg, #450065 0%, #09005dbf 100%);
        height: 100%;
        display: block;
        animation: none;
        margin-right: 0;
        backdrop-filter: blur(5px);
    }
    .hideNavLinks{  display: none;}
    .nav-item-2 > ul> li {
        display: block;
        font-size: 18px;
        margin-top: 20px;
        line-height: 30px;
        color: rgb(255, 255, 255);
    }
    ul > li{
        animation: 1s animationleft ease forwards;
    }
    li:hover {
        color: #df99ff;
        border :0px solid white;
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
        padding: 0px;
        cursor: pointer;
    }
    .btn-container{display: block;}
    .nav-container{
        background-image: none;
        color: rgb(0, 0, 0);
        box-shadow: 0px 2px 5px solid black;
    }
}
@keyframes animationTOp {
    
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes animationleft {
    
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}